* {
    padding: 0;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#first-page {
    height: 1000px;
    width: 100%;
    border: 1px solid black;
}

#navbar {
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    color:white;
}

#navbar>div:nth-child(1) {
    height: 65px;
    width: 100%;
    /* border: 1px solid black; */
    background-color: black;
    display: flex;
}

#navbar>div:nth-child(2) {
    height: 35px;
    width: 100%;
    /* border: 1px solid white; */
    background-color: #232f3e;
    display: flex;
    overflow: hidden;
}

#navbar-top-div>div:nth-child(1){
    height: 65px;
    width:130px;
    /* border: 1px solid white; */
    color: white;
    font-weight: 100;
    display: flex;
    /* margin-top: 10px; */
}

#navbar-top-div>div:nth-child(1)>h1{
    font-weight: 500;

}
#navbar-top-div>div:nth-child(1)>small{
    margin-top: 10px;

}
#navbar-top-div>div:nth-child(2){
    height: 65px;
    width:150px;
    /* margin-top: 10px; */
    /* border: 1px solid white; */
    color: white;
}

#navbar-top-div>div:nth-child(3){
    height: 40px;
    width:800px;
    border: 3px solid #FEBE10;
    display: flex;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    

}
#navbar-top-div>div:nth-child(3)>select{
    height: 40px;
    width:50px;
    border: 1px solid grey;
    outline: none;
    

}
#navbar-top-div>div:nth-child(3)>input{
    height: 39px;
    width:700px;
    outline: none;
    background-color: white;
    border: none;
    
}

#navbar-top-div>div:nth-child(3)>button{
    height: 40px;
    width:50px;
    border: 1px solid white;
    outline: none;
    background-color: #FEBE10;
   

}
#navbar-top-div>div:nth-child(4){
    height:40px;
    width:80px;
    /* border: 1px solid white; */
    margin-top: 10px;
    margin-left: 20px;
}
#navbar-top-div>div:nth-child(4)>select{
    background-color: BLACK;
    color: white;
    outline: none;
    margin-top: 10px;
    border: none;
}
#navbar-top-div>div:nth-child(5){
    height:40px;
    width:120px;
    /* border: 1px solid white; */
    margin-top: 10px;
}
#navbar-top-div>div:nth-child(5)>select{
    background-color: BLACK;
    color: white;
    outline: none;
    border: none;
    /* margin-top: 10px; */
}
#navbar-top-div>div:nth-child(6){
    height:40px;
    width:80px;
    /* border: 1px solid white; */
    margin-top: 10px;
}
#navbar-top-div>div:nth-child(7){
    height:40px;
    width:100px;
    /* border: 1px solid white; */
    margin-top: 10px;
}
#navbar-top-div>div:nth-child(7)>i{
    color:white;
}
#navbar-bottom{
    display: flex;
    width:70%;
    /* border: 1px solid white; */

}

#navbar-bottom>div{
    height:30px;
    width:20%;
    /* border: 1px solid white; */
}
#navbar-bottom>div>h4{
    font-weight: 100;
    
}
#navbar-bottom>div:nth-child(1){
    width:100px;
}
#navbar-bottom>div:nth-child(2){
    width:280px;
}
#navbar-bottom>div:nth-child(5){
    width:280px;
}
#navbar-bottom-right{
    height:35px;
    width: 400px;
    margin-left: 50px;
    /* border:1px solid white; */
}
#navbar-bottom-right>img{
    height: 100%;
    width: 100%;
}

#background{
    height: 620px;
    width:100%;
    border: 1px solid black;
    overflow:hidden;
    background: url(https://m.media-amazon.com/images/I/71IlDjsFsRL._SX3000_.jpg);
    background-size: cover;
}
#background>img{
    height: 100%;
    width: 100%;
}
#top-bottom{
    display: flex;
    justify-content: space-around;
}
#top-bottom>div{
    height:450px;
    width:350px;
    border:1px solid black;
    margin-top: 250px;
    background-color: white;
    
}